* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  background: transparent;
}

body {
  background: rgb(57, 106, 162);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}
