* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  background: transparent;
}

/* @import url(https://fonts.googleapis.com/css?family=Genos); */

body {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}
